$color-primary: #646059;
$color-header-h2: #eec783;
$color-nav: #392504;
$color-gradient-1: #6c490e;
$color-gradient-2: rgba(114, 111, 107, 0.632);
$color-carousel: #342f27;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: 'Open Sans', sans-serif;
$header-font: 'Lobster', cursive;

body {
	font-family: 'Open Sans', sans-serif;
}

#reserveModal .modal-header {
	background-color: $color-primary;
	color: white;
}

#loginModal .modal-header {
	background-color: $color-primary;
	color: white;
}

h1,
h2,
h3 {
	font-family: $header-font;
	color: white;
}

h2 {
	color: $color-primary;
}

header {
	h2 {
		color: $color-header-h2;
	}
}

.site-footer {
	background-image: linear-gradient($color-gradient-1, $color-gradient-2);
	padding: 20px 0;
}

.jumbotron {
	margin: 0;
	padding: 150px;
	background-image: url(https://media.cntraveler.com/photos/607313c3d1058698d13c31b5/16:9/w_2560%2Cc_limit/FamilyCamping-2021-GettyImages-948512452-2.jpg);
	background-size: cover;
	background-position: 30% 70%;
	height: auto;
	width: 100%;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.about {
	padding: 30px;
}

.navbar {
	background-color: $color-nav;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;
	padding: 10px;
}

.carousel-caption {
	background-color: $color-black-transparent;
}

.carousel {
	border: solid $color-carousel;
}

#carouselButton {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}
